In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
print("一、讀取csv檔並列印")
titanic_survival = pd.read_csv("titanic_train.csv")
print(titanic_survival.head())

一、讀取csv檔並列印
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
print("二、列印此檔案的(Age行)前10列(標題列0~9列)")
age = titanic_survival["Age"]
print(age.loc[0:10])

二、列印此檔案的(Age行)前10列(標題列0~9列)
0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64

In [3]:
print("三、判斷age這欄是否有NaN")
age_is_null = pd.isnull(age)
print (age_is_null)

三、判斷age這欄是否有NaN
0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [4]:
print("四、只列印AGE行空值得列數")
age_null_true = age[age_is_null]
print (age_null_true)

四、只列印AGE行空值得列數
5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [5]:
print("五、計算NaN的數量")
age_null_count = len(age_null_true)
print(age_null_count)

五、計算NaN的數量
177

In [6]:
print("六、對缺值做處理，計算平均數")
mean_age = sum(titanic_survival['Age'])/len(titanic_survival['Age'])
print ("平均年齡：",mean_age)

六、對缺值做處理，計算平均數
平均年齡： nan

In [7]:
print("七、對非空值做運算(方法一)平均數")
good_ages = titanic_survival["Age"][age_is_null == False]
print (good_ages)
print("八、對空值做運算(方法二)平均數")
correct_mean_age = sum(good_ages) / len(good_ages)
print (correct_mean_age)
print("九、對空值做運算(方法三)，平均數忽略NaN算出平均值")
correct_mean_age = titanic_survival["Age"].mean()
print (correct_mean_age)

七、對非空值做運算(方法一)平均數
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64
八、對空值做運算(方法二)平均數
29.69911764705882
九、對空值做運算(方法三)，平均數忽略NaN算出平均值
29.69911764705882

In [8]:
print("十、定義")
passenger_classes = [1, 2, 3]
fares_by_class = {}
for this_class in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival["Pclass"] == this_class]
    pclass_fares = pclass_rows["Fare"]
    fare_for_class = pclass_fares.mean()
    fares_by_class[this_class] = fare_for_class
print (fares_by_class)

十、定義
{1: 84.1546875, 2: 20.662183152173913, 3: 13.675550101832993}

In [9]:
print("十一、運算index代表(依哪行資訊)分組,value代表要運算的值，aggfunc代表如何運算")
passenger_survival = titanic_survival.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)
print (passenger_survival)

十一、運算index代表(依哪行資訊)分組,value代表要運算的值，aggfunc代表如何運算
        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [10]:
print("十二、預設運算為平均數")
passenger_age = titanic_survival.pivot_table(index="Pclass", values="Age")
print(passenger_age)

十二、預設運算為平均數
              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [11]:
print("十三、以Embarked分組，對資料(fare及Survived)作運算和")
port_stats = titanic_survival.pivot_table(index="Embarked", values=["Fare","Survived"], aggfunc=np.sum)
print(port_stats)

十三、以Embarked分組，對資料(fare及Survived)作運算和
                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

In [12]:
# dropna： 去掉含有NaN的值
# drop  ：去掉含有NaN的行列
# fillna：將含有NaN的值以（0，平均值，中值等）代替
print("十四、去掉含有NaN的值的列標題那(行)")
drop_na_columns = titanic_survival.dropna(axis=1)
print (drop_na_columns)
new_titanic_survival = titanic_survival.dropna(axis=0,subset=["Age", "Sex"])

十四、去掉含有NaN的值的列標題那(行)
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  SibSp  Parch  \
0                              Braund, Mr. Owen Harris    male      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0
2                               Heikkinen, Miss. Laina  female      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      1      0
4                             Allen, Mr. William Henry    male      0      0
..                                                 ...     ...    ...    ...
886                              Montvila, Rev. Juozas    male      0      0
887                       Graham, Miss. Margaret Edith  female      0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female      1      2
889                              Behr, Mr. Karl Howell    male      0      0
890                                Dooley, Mr. Patrick    male      0      0

               Ticket     Fare
0           A/5 21171   7.2500
1            PC 17599  71.2833
2    STON/O2. 3101282   7.9250
3              113803  53.1000
4              373450   8.0500
..                ...      ...
886            211536  13.0000
887            112053  30.0000
888        W./C. 6607  23.4500
889            111369  30.0000
890            370376   7.7500

[891 rows x 9 columns]

In [13]:
print("十五、列印Age、Sex兩行並去掉含有NaN的值")
print (new_titanic_survival)

十五、列印Age、Sex兩行並去掉含有NaN的值
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
885      5            382652  29.1250   NaN        Q
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[714 rows x 12 columns]

In [14]:
print("十六、列印Age行第83個(列)元素")
row_index_83_age = titanic_survival.loc[83,"Age"]
print (row_index_83_age)
print("十七、列印Pclass行第766個(列)元素")
row_index_1000_pclass = titanic_survival.loc[766,"Pclass"]
print (row_index_1000_pclass)

十六、列印Age行第83個(列)元素
28.0
十七、列印Pclass行第766個(列)元素
1

In [15]:
print("十八、資料排序(反序)")
new_titanic_survival = titanic_survival.sort_values("Age",ascending=False)
print (new_titanic_survival[0:10])
print("十九、資料排序(正序)")
new_titanic_survival = titanic_survival.sort_values("Age",ascending=True)
print (new_titanic_survival[0:10])
print("二十、 【待研究】 (猜測解決別名問題(drop=True))")
titanic_reindexed = new_titanic_survival.reset_index(drop=True)
print(titanic_reindexed.iloc[0:10])

十八、資料排序(反序)
     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick
672          673         0       2           Mitchell, Mr. Henry Michael
745          746         0       1          Crosby, Capt. Edward Gifford
33            34         0       2                 Wheadon, Mr. Edward H
54            55         0       1        Ostby, Mr. Engelhart Cornelius
280          281         0       3                      Duane, Mr. Frank

      Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  male  80.0      0      0       27042  30.0000   A23        S
851  male  74.0      0      0      347060   7.7750   NaN        S
493  male  71.0      0      0    PC 17609  49.5042   NaN        C
96   male  71.0      0      0    PC 17754  34.6542    A5        C
116  male  70.5      0      0      370369   7.7500   NaN        Q
672  male  70.0      0      0  C.A. 24580  10.5000   NaN        S
745  male  70.0      1      1   WE/P 5735  71.0000   B22        S
33   male  66.0      0      0  C.A. 24579  10.5000   NaN        S
54   male  65.0      0      1      113509  61.9792   B30        C
280  male  65.0      0      0      336439   7.7500   NaN        Q
十九、資料排序(正序)
     PassengerId  Survived  Pclass                             Name     Sex  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
644          645         1       3           Baclini, Miss. Eugenie  female
469          470         1       3    Baclini, Miss. Helene Barbara  female
78            79         1       2    Caldwell, Master. Alden Gates    male
831          832         1       2  Richards, Master. George Sibley    male
305          306         1       1   Allison, Master. Hudson Trevor    male
827          828         1       2            Mallet, Master. Andre    male
381          382         1       3      Nakid, Miss. Maria ("Mary")  female
164          165         0       3     Panula, Master. Eino Viljami    male

      Age  SibSp  Parch           Ticket      Fare    Cabin Embarked
803  0.42      0      1             2625    8.5167      NaN        C
755  0.67      1      1           250649   14.5000      NaN        S
644  0.75      2      1             2666   19.2583      NaN        C
469  0.75      2      1             2666   19.2583      NaN        C
78   0.83      0      2           248738   29.0000      NaN        S
831  0.83      1      1            29106   18.7500      NaN        S
305  0.92      1      2           113781  151.5500  C22 C26        S
827  1.00      0      2  S.C./PARIS 2079   37.0042      NaN        C
381  1.00      0      2             2653   15.7417      NaN        C
164  1.00      4      1          3101295   39.6875      NaN        S
二十、 【待研究】 (猜測解決別名問題(drop=True))
   PassengerId  Survived  Pclass                             Name     Sex  \
0          804         1       3  Thomas, Master. Assad Alexander    male
1          756         1       2        Hamalainen, Master. Viljo    male
2          645         1       3           Baclini, Miss. Eugenie  female
3          470         1       3    Baclini, Miss. Helene Barbara  female
4           79         1       2    Caldwell, Master. Alden Gates    male
5          832         1       2  Richards, Master. George Sibley    male
6          306         1       1   Allison, Master. Hudson Trevor    male
7          828         1       2            Mallet, Master. Andre    male
8          382         1       3      Nakid, Miss. Maria ("Mary")  female
9          165         0       3     Panula, Master. Eino Viljami    male

    Age  SibSp  Parch           Ticket      Fare    Cabin Embarked
0  0.42      0      1             2625    8.5167      NaN        C
1  0.67      1      1           250649   14.5000      NaN        S
2  0.75      2      1             2666   19.2583      NaN        C
3  0.75      2      1             2666   19.2583      NaN        C
4  0.83      0      2           248738   29.0000      NaN        S
5  0.83      1      1            29106   18.7500      NaN        S
6  0.92      1      2           113781  151.5500  C22 C26        S
7  1.00      0      2  S.C./PARIS 2079   37.0042      NaN        C
8  1.00      0      2             2653   15.7417      NaN        C
9  1.00      4      1          3101295   39.6875      NaN        S

In [16]:
#定義 hundredth_row(column)
#.iloc[0] 和 .iloc[[0]] 的差別就是一個取出的型態是 Series ，另一個是 DataFrame。
def hundredth_row(column):
    hundredth_item = column.iloc[99]
    return hundredth_item

print("二十一、印出每一行的第99個元素")
hundredth_row = titanic_survival.apply(hundredth_row)
print (hundredth_row)

二十一、印出每一行的第99個元素
PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                         34.0
SibSp                          1
Parch                          0
Ticket                    244367
Fare                        26.0
Cabin                        NaN
Embarked                       S
dtype: object

In [17]:
#pd.isnull(column) 判斷行內元素是否有null值
print("定義各行Null值得數量")
def not_null_count(column):
    column_null = pd.isnull(column)
    null = column[column_null]
    return len(null)
print("二十二、列印各行Null值得數量")
column_null_count = titanic_survival.apply(not_null_count)
print (column_null_count)

定義各行Null值得數量
二十二、列印各行Null值得數量
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
print("定義Pclass欄位1、2、3分別回傳First Class、Second Class、Third Class")
def which_class(row):
    pclass = row['Pclass']
    if pd.isnull(pclass):
        return "Unknown"
    elif pclass == 1:
        return "First Class"
    elif pclass == 2:
        return "Second Class"
    elif pclass == 3:
        return "Third Class"
print("二十三、使用定義which_class將Pclass欄位列印回傳結果")
classes = titanic_survival.apply(which_class, axis=1)
print (classes)

定義Pclass欄位1、2、3分別回傳First Class、Second Class、Third Class
二十三、使用定義which_class將Pclass欄位列印回傳結果
0       Third Class
1       First Class
2       Third Class
3       First Class
4       Third Class
           ...
886    Second Class
887     First Class
888     Third Class
889     First Class
890     Third Class
Length: 891, dtype: object

In [19]:
print("定義年齡小於18歲回傳Ture")
def is_minor(row):
    if row["Age"] < 18:
        return True
    else:
        return False
print("二十四、使用定義列印每一列年齡大於18歲為True否則為False")
minors = titanic_survival.apply(is_minor, axis=1)
print (minors)

定義年齡小於18歲回傳Ture
二十四、使用定義列印每一列年齡大於18歲為True否則為False
0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [20]:
print("定義將Age小於18回傳minor、大於18回傳adult、NaN回傳unknown")
def generate_age_label(row):
    age = row["Age"]
    if pd.isnull(age):
        return "unknown"
    elif age < 18:
        return "minor"
    else:
        return "adult"

print("二十五、使用定義列印年齡NaN為unknown小於18歲為minor大於18則為adult")
age_labels = titanic_survival.apply(generate_age_label, axis=1)
print (age_labels)

定義將Age小於18回傳minor、大於18回傳adult、NaN回傳unknown
二十五、使用定義列印年齡NaN為unknown小於18歲為minor大於18則為adult
0        adult
1        adult
2        adult
3        adult
4        adult
        ...
886      adult
887      adult
888    unknown
889      adult
890      adult
Length: 891, dtype: object

In [21]:
print("二十六、計算平均數")
titanic_survival['age_labels'] = age_labels
age_group_survival = titanic_survival.pivot_table(index="age_labels", values="Survived")
print (age_group_survival)

二十六、計算平均數
            Survived
age_labels
adult       0.381032
minor       0.539823
unknown     0.293785